/* globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* set margin forleft and right */
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  .bg-noise {
    background-image: url('/bg-noise.svg');
    background-size: 200px 200px;
  }

  ::selection {
    @apply bg-primary/30 text-primary;
  }

  body {
    color: var(--foreground);
    background-color: var(--background);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}